#{extends 'main.html' /}
#{set title:'Home' /}


<h2>${recipe.title}</h2>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">${recipe.description}</div>
        <div class="span2">
            <span>${recipe.instructions.raw()}</span>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <ul>
            #{list items:recipe.ingredients, as:'ingredient' }
                <li>${ingredient.amount} ${ingredient.amountUnit} ${ingredient.ingredientName}</li>
            #{/list}
            </ul>
        </div>
    </div>
</div>


